<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'faq/style.css' %}">
  <title>Preguntas Frecuentes</title>
</head>
<body>
  <div class="container">
        <nav>
          <ul>
            <li><a href="{% url 'faq:categorias' %}">Categorías</a></li>
          </ul>
        </nav>
        <main>
            <div class="content">
                {% block content %}
                {% endblock %}
            </div>
        </main>
  </div>
</body>
</html>
